<html lang="en">
<head>
    <title>Invalid request</title>
</head>
<body>
<h1>Invalid request</h1>
<p>This request sounds invalid to our backend...</p>
<p>Please try the whole process again and <a href="https://github.com/DerTev/Mergify/issues/new" target="_blank">open an issue</a> if that hadn't worked!</p>
</body>
</html>