<html lang="en">
<head>
    <title>Succesful</title>
</head>
<body>
<h1>Hey, @DisplayName!</h1>
<p>Glad you made it this far!</p>
<p>You now can return to the CLI.</p>
</body>
</html>

@code {
    [Parameter] public string? DisplayName { get; set; }
}